body{
    background-color: #303534;
}
h1{
    font-family: Bahnschrift, sans-serif;
    text-align: center;
    color: white;
    font-size: 3rem;
    background-color: rgba(25, 25, 25, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px white;
}
h2{
    font-family: Bahnschrift, sans-serif;
    text-align: center;
    color: white;
    font-size: 2rem;
    background-color: rgba(25, 25, 25, 0.3);
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 1px 1px white;
}
.Starting-animation-con{
    position: absolute;
    top: 100px;
    left: 0;
    margin: auto;
    width: 100%;
}
.info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 400px;
    width: 100%;
    background-color: rgba(25, 25, 25, 0.3);
    border-radius: 20px;
    margin-top: 20px;
}
.info-text-con{
    font-family: Bahnschrift, sans-serif;
    color: white;
    font-size: 1.3rem;
    background-color: rgba(25, 25, 25, 0.3);
    height: 250px;
    border-radius: 20px;
    width: 95%;
    margin: auto;
    box-shadow: 1px 1px white;
}
.proceed{
    background-color: rgba(25, 25, 25, 0.3);
    width: 95%;
    height: 70px;
    margin: auto;
    border-radius: 20px;
    transition: all .3s ease-in-out;
    box-shadow: 1px 1px white;
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: Bahnschrift, sans-serif;
}
.proceed:hover{
    box-shadow: 2px 2px lightgray;
    color: lightgray;
    background-color: rgba(0, 0, 0, 0.3);
}
.info-text{
    margin: 30px;
}
.proceed-buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(25, 25, 25, 0.3);
    border-radius: 20px;
    width: 95%;
    height: 90px;
    margin: 10px auto;
    box-shadow: 1px 1px white;
}
.header{
    margin: auto;
    width: 95%;
    height: 60px;
}
.sub-header{
    margin: -27px auto auto;
    width: 65%;
    height: 40px;
}
main{
    animation-name: show;
    visibility: visible;
    animation-duration: 4s;
}
.startup-text-1{
    visibility: hidden;
    animation-name: startup-text-1;
    animation-duration: 4s;
    width: 60%;
    margin: auto;
}
.startup-text-2{
    visibility: hidden;
    animation-name: startup-text-2;
    animation-duration: 4s;
    width: 60%;
    margin: -60px auto auto;
}
/*@keyframes show {
    0%{opacity: 0; transform: scale(0)}
    95%{opacity: 0; transform: scale(0)}
    99%{transform: scale(1)}
    100%{opacity: 100%;}
}
@keyframes startup-text-1 {
    0%{opacity: 0; visibility: visible;}
    33.33%{opacity: 100%}
    80%{opacity: 100%;}
    85%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes startup-text-2 {
    0%{opacity: 0; visibility: visible;}
    80%{opacity:0;}
    85%{opacity:100%;}
    97%{opacity:100%;}
    100%{opacity: 0;}
}
.progress-bar{
    visibility: hidden;
    width: 50%;
    height: 50px;
    border-width: 3px;
    border-style: solid;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    animation-name: bar-appear;
    animation-duration: 4s;
}
@keyframes bar-appear {
    0%{opacity: 0; visibility: visible;}
    33.33%{opacity: 100%}
    90%{opacity: 100%;}
    100%{opacity: 0;}
}
@keyframes load {
    0%{width: 0; visibility: visible;}
    90%{width: 100%; opacity: 100%;}
    100%{width: 100%; opacity: 0;}
}*/
.progress-bar{
    visibility: hidden;
    width: 50%;
    height: 50px;
    border-width: 3px;
    border-style: solid;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    animation-name: bar-appear;
    animation-duration: 4s;
}
.load-progress{
    visibility: hidden;
    height: 100%;
    width: 0;
    background-color: cornflowerblue;
    animation-name: load;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}
.header-right{
    font-family: Bahnschrift, sans-serif;
    color: white;
    font-size: 1.3rem;
    background-color: rgba(25, 25, 25, 0.3);
    height: 290px;
    border-radius: 20px;
    width: 95%;
    margin: auto;
    box-shadow: 1px 1px white;
}
.salience{
    transition: .3s all ease-in-out;
}
.salience:hover{
    color: lightgray;
    cursor: pointer;
}
.vectors{
    transition: .3s all ease-in-out;
}
.vectors:hover{
    color: lightgray;
    cursor: pointer;
}
.offer{
    transition: .3s all ease-in-out;
}
.offer:hover{
    color: lightgray;
    cursor: pointer;
}
.demand{
    transition: .3s all ease-in-out;
}
.demand:hover{
    color: lightgray;
    cursor: pointer;
}
.colour{
    transition: .3s all ease-in-out;
}
.colour:hover{
    color: lightgray;
    cursor: pointer;
}
.angles{
    transition: .3s all ease-in-out;
}
.angles:hover{
    color: lightgray;
    cursor: pointer;
}
.position{
    transition: .3s all ease-in-out;
}
.position:hover{
    color: lightgray;
    cursor: pointer;
}
.modality{
    transition: .3s all ease-in-out;
}
.modality:hover{
    color: lightgray;
    cursor: pointer;
}
.framing-borders{
    transition: .3s all ease-in-out;
}
.framing-borders:hover{
    color: lightgray;
    cursor: pointer;
}
.direc-1-text{
    margin: 10px;
}
.active{
    visibility: visible;
    transition: all .4s ease-in-out;
}
.inactive{
    visibility: hidden;
    transition: all .4s ease-in-out;
}
section{
    position: absolute;
    top: 0;
    left: 0;
}
.section{
    width: 100%;
    height: 850px;
    background-color: rgba(25, 25, 25, 0.3);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px white;
}
img{
    border-radius: 20px;
}
.low{
    transform: scale(0.6);
}
.low2{
    transform: scale(0.6);
}
.next{
    width: 98%;
    height: 98%;
    background-color: rgba(25, 25, 25, 0.3);
    border-radius: 20px;
    margin: 10px auto auto;
    box-shadow: 1px 1px white;
    transition: all .4s ease-in-out;
}
.next:hover{
    box-shadow: 2px 2px lightgray;
    color: lightgray;
    background-color: rgba(0, 0, 0, 0.3);
}
.prev{
    width: 98%;
    height: 98%;
    background-color: rgba(25, 25, 25, 0.3);
    border-radius: 20px;
    margin: 10px auto auto;
    box-shadow: 1px 1px white;
    transition: all .4s ease-in-out;
}
.prev:hover{
    box-shadow: 2px 2px lightgray;
    color: lightgray;
    background-color: rgba(0, 0, 0, 0.3);
}
.nav-buttons{
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
    font-size: 4rem;
    font-family: Bahnschrift, sans-serif;
}
.image-control-con{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.img{
    width: 100%;
    box-shadow: 1px 1px white;
}
p{
    background-color: rgba(25, 25, 25, 0.3);
    border-radius: 10px;
    box-shadow: 1px 1px white;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 5px;
    font-family: Bahnschrift, sans-serif;
}
.tv1{
    font-size: 1.5rem;
    text-align: left;
}
audio{
    top: 0;
    left: 0;
    position: absolute;
}
.visible{
    visibility: visible;
}
.invisible{
    visibility: hidden;
}
.inner-text{
    font-size: 1.5rem;
    text-align: left;
}
.desc{
    position: absolute;
    width: 50%;
}