header {
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.484);
}

.top-part {
    display: flex;
    flex-direction: row;

    vertical-align: middle;
    justify-content: center;
    align-items: center;

    gap: 2em;
}

.gd-icon {
    width: 4em;
    height: 4em;

    animation: spinny 4s infinite linear;
    user-select: none;
}

.link-img {
    width: auto;
    height: 2em;

    user-select: none;
    padding: 0.4em;
}

img {
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.772));
}

@keyframes spinny {
    0%{rotate: 0;}
    100%{rotate: 360deg;}
}